[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tensorflow = "*"
streamlit = "*"
fastapi = "*"
uvicorn = "*"
click = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
